* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #575757;
    color: #fff;
  }
  
  .content {
    padding: 20px;
  }
  
  .scrolled {
    background-color: #111; /* Darker color when scrolled */
  }
  
  /* Optional: style the menu items when hovered */
  .navbar li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
  .col{
    color:blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
  }
  .col1{
    text-align: center;
  }
  